.ext-container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.ext-download-btn-area {
  position: fixed;
  inset-inline-start: 30px;
  inset-block-end: 30px;
  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ext-download-btn {
  padding: 1rem 2rem;
  font-size: 18px;
  background-color: #FF4747;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(89, 87, 87, 0.241);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ext-download-btn:disabled {
  cursor: disabled;
}

.ext-download-btn:hover {
  background-color: hsl(0, 100%, 55%);
}
.ext-download-btn.loading {
	cursor: disabled;
}
