.ext-container {
  width: 280px;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.ext-component-area {
  position: fixed;
  inset-inline-start: 30px;
  inset-block-end: 30px;
  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column-reverse;
  align-items: flex-start;
}

#ext-activator {
  inline-size: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url('https://bk.ibxk.com.br/2015/11/programas/11578001112151635.png');
  background-position: center;background-size: cover;
  background-repeat: no-repeat;
  background-color: #FF4747;
}

#selection-popup {
  display: grid;
  padding: 1rem;
  border-radius: 10px;
  animation-name: popupEnter;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(109, 107, 107, 0.241), -2px -2px 2px rgba(122, 120, 120, 0.241);
}

@keyframes popupEnter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#title-area {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

#title-area h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  color: hsl(0, 0%, 0%);
}

#popup-form b {
  font-size: .9rem;
  font-weight: bold;
  color: hsl(0, 100%, 60%);
}

#popup-form {
  display: grid;
  gap: 1rem;
  padding: 15px;
  border-radius: 10px;
  background-color: hsla(0, 100%, 75%, 0.1);
}

#popup-form .form-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#popup-form .form-group label {
  font-size: 1rem;
  font-weight: 500;
}


.ext-download-btn {
  padding: .5rem 1.5rem;
  font-size: 18px;
  background-color: #FF4747;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgba(89, 87, 87, 0.241);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ext-download-btn:disabled {
  cursor: disabled;
}

.ext-download-btn:hover {
  background-color: hsl(0, 100%, 55%);
}
.ext-download-btn.loading {
	cursor: disabled;
}

.login-modal-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500000;
  inline-size: 100%;
  block-size: 100%;
  background-color: rgba(2, 2, 31, 0.641);
}

#login-modal-area-closebtn {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 5px;
  aspect-ratio: 1;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2rem;
  background-color: transparent;
}
.login-window {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;

}